:root {
	/* Colors */
	--beige: #fff2cb;
	--green: #4cb843;
	--white: #fff;
	--amber: #ffbf00;
	--red: #e83f3f;
	--dark-blue: #114c70;
	--turquoise: #189cab;
	--shadow: rgb(0 0 0 / 25%);
	--linear-turquoise: linear-gradient(-90deg, var(--beige) 0%, var(--turquoise) 100%);

	/* Font sizes */
	--small-text: 18px;
	--medium-text: 24px;
	--large-text: 32px;
	--extra-large-text: 48px;

	/* Font letter-spacing */
	--small-text-letter-spacing: calc(var(--small-text) * 0.08);
	--medium-text-letter-spacing: calc(var(--medium-text) * 0.08);
	--large-text-letter-spacing: calc(var(--large-text) * 0.08);
	--extra-large-text-letter-spacing: calc(var(--extra-large-text) * 0.08);

	/* Elements */
	--section-max-width: calc(1920px - (188px * 2));
	--border-radius-button: 15px;
	--border-radius-section: 25px;
}
