:root {
	/* Colors */
	--beige: #fff2cb;
	--green: #4cb843;
	--white: #fff;
	--shadow: rgb(0 0 0 / 25%);
	--dark-blue: #114c70;

	/* Font sizes */
	--small-text: 18px;
	--medium-text: 24px;
	--large-text: 32px;
	--extra-large-text: 48px;
}
